@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$primary-font-family: 'Manrope';
$primary-white-color: #FFFFFF;
$primary-black-color: #1B1D1F;
$primary-default-color: #EDB021;
$grayscale-gray-10-color: #F7F7F7;
$grayscale-gray-60-color: #7F7F7F;
$grayscale-grey-70-color: #5E5E5E;
$grayscale-gray-80-color: #58667E;
$border-color: rgba(255, 255, 255, 0.10);
$Secondary-light: #EFF2F5;
