@import 'styles/variables';
@import 'styles/mixins';

.formContainer {
  @include flex(column, center, center);
  background-color: $grayscale-gray-10-color;
  border-radius: 150px;
  padding: 50px 100px;
  margin-top: 50px;

  .headerForm {
    @include font-style(50px, 800, 55px);
    color: $primary-black-color;
    text-align: center;
    margin: 0;
  }

  .form {
    @include flex(column, center, flex-start);
    color: $primary-white-color;
    background-color: $primary-black-color;
    border-radius: 50px;
    padding: 40px;
    width: 100%;
    margin-top: 50px;
    position: relative;

    .listAndFile {
      @include flex(row, center, flex-start);

    }

    .label {
      @include flex(column, center, flex-start);
      gap: 8px;
      text-align: left;
    }

    .listField {
      @include font-style(22px, 600, 30px);
      @include flex(column, center, flex-start);
    }

    .list {
      @include font-style(16px, 400, 22px);
      width: 800px;
      height: 150px;
      border-radius: 10px;
      padding: 15px 20px;
      margin: 20px 30px 0 0;
      text-align: left;
      resize: none;
      color: $grayscale-gray-60-color;
    }

    .radioGroupLabel {
      @include font-style(22px, 600, 30px);
      margin: 50px 0 20px;
    }

    .radioContainer {
      @include flex(row, center, flex-start);
      gap: 50px;
      margin-bottom: 20px;

      .radioItem input[type=radio]:checked + label {
        padding-bottom: 5px;
        border-bottom: 2px solid $primary-default-color;
      }

      .radioItem {
        @include font-style(14px, 500, 19px);

        input[type=radio] {
          display: none;
        }

        .radioLabel {
          @include flex(row, center, center);
          gap: 5px;
          padding: 0 5px;
          cursor: pointer;
        }
      }
    }

    .customerInfo {
      .nameAndContact {
        @include flex(row, space-between, center);
        gap: 20px;

        .name {
          @include font-style(16px, 400, 22px);
          color: $primary-black-color;
          border-radius: 10px;
          border: none;
          width: 300px;
          padding: 14px 20px;
        }

        .nameAndContactLabel {
          @include font-style(16px, 400, 22px);
        }
      }

      .commentaryLabel {
        @include font-style(16px, 400, 22px);
        margin-top: 15px;

        .commentaryTextarea {
          @include font-style(16px, 400, 22px);
          width: 700px;
          border-radius: 10px;
          border: none;
          height: 70px;
          padding: 14px 20px;
          resize: none;
          color: $primary-black-color;
        }
      }

    }

    .checkboxContainer {
      @include flex(row, center, center);
      @include font-style(14px, 500, 19px);
      margin: 20px 0;

      .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      .checkbox + label {
        display: inline-flex;
        user-select: none;
      }

      .checkbox + label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $grayscale-gray-10-color;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: $primary-white-color;
      }

      .checkbox:checked + label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }

      .linkPersonalData {
        color: $primary-white-color;
      }
    }

    .submit {
      @include flex(row, center, center);
      gap: 8px;
      @include font-style(16px, 500, 22px);
      width: 300px;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $primary-default-color;
      border: none;
      cursor: pointer;
    }

    .message {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 400px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .formContainer {
    box-sizing: border-box;
    border-radius: 24px;
    margin-top: 28px;
    padding: 10px 10px 35px 10px;

    .headerForm {
      @include font-style(26px, 700, 36px);
      padding-top: 28px;
    }

    .form {
      @include flex(column, flex-start, center);
      box-sizing: border-box;
      padding: 20px;
      border-radius: 24px;

      .listField {
        @include font-style(16px, 500, 22px);
      }

      .listAndFile {
        @include flex(column, center, stretch);

        .list {
          @include font-style(14px, 500, 19px);
          width: 275px;
          margin-right: 0;
        }
      }

      .radioGroupLabel {
        @include font-style(16px, 500, 22px);
      }

      .radioContainer {
        @include flex(row, center, center);
        background-color: $primary-white-color;
        border-radius: 10px;
        width: 305px;
        color: $primary-black-color;
        gap: 5px;
        padding: 10px 8px 0 8px;

        .radioItem {
          @include flex(row, center, center);
          @include font-style(12px, 400, 15px);
          min-width: 53px;
          max-width: 75px;

          input[type=radio] + label {
            padding-bottom: 8px;
            border-bottom: 2px solid transparent;
          }

          input[type=radio]:checked + label {
            padding-bottom: 8px;
            border-bottom: 2px solid $primary-default-color;
          }
        }
      }

      .message {
        display: none;
      }

      .customerInfo {
        .nameAndContact {
          @include flex(column, center, stretch);
        }

        .commentaryLabel {
          @include font-style(14px, 400, 19px);

          .commentaryTextarea {
            box-sizing: border-box;
            width: 320px;
            @include font-style(14px, 500, 19px);
            color: $grayscale-gray-60-color;
          }
        }
      }

      .checkboxContainer {
        @include font-style(12px, 400, 15px);
      }

      .submit {
        width: 320px;
        @include font-style(14px, 500, 19px);
      }
    }
  }
}