@import 'src/styles/variables';
@import 'src/styles/mixins';

.label {
  @include flex(column, center, flex-start);
  gap: 8px;
  text-align: left;

  .name {
    @include font-style(16px, 400, 22px);
    border-radius: 10px;
    border: none;
    width: 300px;
    padding: 14px 20px;
  }

  .invalidInput {
    outline: 2px solid red;
    color: red;
  }
}

.nameAndContactLabel {
  @include font-style(16px, 400, 22px);
}

@media only screen and (max-width: 768px) {
  .label {
    @include font-style(14px, 400, 19px);

    .name {
      box-sizing: border-box;
      width: 320px;

      &::placeholder {
        @include font-style(14px, 400, 19px);
      }
    }
  }
}